<!DOCTYPE html>
<html>
<body>
    <h1>Panel de Administrador</h1>
    <p>Bienvenido. Aquí verás la gestión de personas.</p>
    <a href="/logout">Cerrar Sesión</a>
    <td>
    <form th:action="@{/abogado/emitir}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${solicitud.id}">
        <div class="input-group input-group-sm">
            <input type="file" name="firma" class="form-control" required>
            <button class="btn btn-success" type="submit">Emitir</button>
        </div>
    </form>
    
    <a th:if="${solicitud.estado == 'EMITIDO'}" 
       th:href="@{'/abogado/certificado/' + ${solicitud.id}}" 
       target="_blank" class="btn btn-sm btn-primary mt-1">Ver Certificado</a>
    </td>
</body>
</html>